/*Base stules Begin*/
a{
	color: inherit; 
	text-decoration: none;
}
.margin-left{
	margin-left: 20px;
}
.inline-element{
	display: inline-block;
}
.logo{
	display: inline-block;
}
nav{
	display: inline-block;
}
.navigation-ul li{
	display: inline-block;
}
.news-img{
	display: inline-block;
}
.news-desc{
	display: inline-block;
}
/*Base stules End*/