/*Heder Styles Begin*/
header{
	margin-top: 10px;
}
.logo{
	width: 100px;}
.logo img{
	width: 100%;
}
.active{
	color: red;
}
nav{
	margin-left: 20px;
}
.navigation-ul{
	color: blue;
	padding-left: 0px;
	margin: 25px 0px;
}
.navigation-ul li{
	margin-right: 15px;
	font-size: 20px;
	list-style: none;
	transition: .2s,font-size .2s;
}
.navigation-ul li:hover{ 
	cursor: pointer;
	color: green;
	font-size: 18px;
}
/*Heder Styles End*/

/*News Begin*/
.news{
	margin-top: 30px;
}
/*.mouth{
	width: 60%;
}*/
.mouth h1{
	margin: 0px;
	padding: 0px;
	background-color: blue;
	font-size: 30px;
	font-weight: 100;
	width: 45px;
	text-align: center;
	color: white;
}
.mouth h2{

}
.mouth h3{
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: 100;
	width: 40px;
	text-align: center;
	color: SteelBlue;
	margin-top: 0px;
}
.news-desc p{
	margin: 0px;
	padding: 0px;
}
/*News End*/

/*Banner Begin*/
.banner{
	/*margin-top: 5px;
	margin-bottom: 20px;
	width: 98%;*/
}
.content{
	content: 100%;
}
.news-img{
	vertical-align: top;
	width: 30%;
}
.news-desc{
	vertical-align: top;
	width: 70%;
}
/*Banner End*/

/*Social Begin*/
.social{
	height: 20px;
	/*background-color: red;	*/
}
.social-ul{
	padding: 0px;
	margin: 0px;
}
.social-ul li{
	list-style: none;
	display: inline-block;
}
.divider{
	width: 2px;
	height: 30px;
	background-color: blue;
	margin-left: 5px;
}
.icon-fb{
	height: 20px;
	width: 14px;
	padding-right: 5px;
}
.icon-youtube{
	height: 20px;
	width: 25px;
	padding-left: 10px;
}

/*Social End*/

