/*Base stules Begin*/
a{
	color: inherit; 
	text-decoration: none;
}
.margin-left{
	margin-left: 10px;
}
.inline-element{
	display: inline-block;
}
/*Base stules End*/


/*Heder Styles Begin*/
header{
	margin-top: 10px;
}
.logo{
	width: 100px;
	}
.logo img{
	width: 100%;
}
.active{
	color: red;
}
.navigation-ul{
	color: blue;
	padding-left: 0px;
	margin: 25px 0px;
}
.navigation-ul li{
	font-size: 20px;
	list-style: none;
	transition: .2s,font-size .2s;
}
.navigation-ul li:hover{ 
	cursor: pointer;
	color: green;
	font-size: 18px;
}
/*Heder Styles End*/

/*News Begin*/
.mouth{
	width: 60%;
}
.mouth h1{
	margin: 0px;
	padding: 0px;
	background-color: blue;
	font-size: 30px;
	font-weight: 100;
	width: 45px;
	text-align: center;
	color: white;
}
.mouth h2{

}
.mouth h3{
	margin: 0px;
	padding: 0px;
	font-size: 18px;
	font-weight: 100;
	width: 40px;
	text-align: center;
	color: SteelBlue;
	margin-top: 0px;
}
/*News End*/

/*Font Begin*/
/*p{
	margin-top: 10px;
    font-size: 20px;
}*/
/*Font End*/

/*Img Begin*/
/*.foto{
	margin-top: 10px;
}*/
/*Img End*/